:root {
  --color-text: #333333;
  --color-desc-text: #949494;
  --color-bg-link: #FFBD54;
  --color-white: #fff;
  --font-stack: "FuturaPT", "Arial", sans-serif;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
  url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
  url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
  url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
  url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  --font-stack: "FuturaPT", "Arial", sans-serif;
  background-image: url("../img/body-bg.png");
  background-repeat: no-repeat;
  background-color: #F9F8F8;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SITE HEADER SECTION  */

.address {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F9F8F8;
}

.address-content__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.address-clinic {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-right: 106px;
}

.address-clinic::before {
  display: block;
  content: "";
  width: 14px;
  height: 13px;
  background-image: url("../img/home-bg.svg");
  background-repeat: no-repeat;
  margin-right: 9px;
}

.address__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.address__list::before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background-image: url("../img/Phone-bg.svg");
  background-repeat: no-repeat;
  margin-right: 9px;
}

.address__item {
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.address__item:last-child {
  margin-right: 0;
}

.address__item:not(:first-child):before {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-bg-link);
  background-position: calc(50%);
  margin-right: 9px;
}

.address-clinic-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text);
  font-family: var(--font-stack);
  transition: color 0.3s ease;
}

.address-clinic-tel:hover {
  color: var(--color-bg-link);
}

.address-clinic-tel:active {
  opacity: 0.6;
}

.days {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.days::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../img/calendar-bg.svg");
  background-repeat: no-repeat;
  margin-right: 9px;
}

.days__work:not(:last-child) {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-right: 20px;
}


/* HEADER PAGE NAVIGATSION  */

.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--color-white);
}

.navigation-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-site {
  position: absolute;
  z-index: 99;
  top: -35px;
  left: 0;
  margin-right: 150px;
}

.logo-site__img {
  display: block;
}

.sitenav {
  display: flex;
  align-items: center;
}

.sitenav__list {
  width: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 290px;
}

.sitenav__item:not(:last-child) {
  margin-right: 55px;
}

.sitenav__item--avtive {
  display: flex;
  align-items: center;
}

.sitenav__item--avtive::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-fish.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 12px;
}

.sitenav__item:active {
  opacity: 0.6;
}

.sitenav__link {
  position: relative;
  z-index: 3;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  white-space: nowrap;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.sitenav__item:hover .sitenav__link::before {
  height: 4px;
}

.sitenav__link::before {
  position: absolute;
  z-index: -1;
  top: 14px;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  background-color: #F4FFAD;
}

.question {
  margin-left: 195px;
  display: flex;
  align-items: center;
}

.question::before {
  display: block;
  content: "";
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-lapa.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.question__link:active {
  opacity: 0.6;
}


/* SITE HERO SECTION  */

.site-hero {
  padding: 145px 120px;
  padding-bottom: 300px;
  background-image: url("../img/hero-bg.png"),
  url("../img/parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 500px) -180px, calc(50% + 650px) 300px;
}

.site-hero__container {
  display: flex;
  justify-content: flex-end;
}

.site-hero__content {
  width: 608px;
}

.site-hero__title {
  margin: 0;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

span {
  color: #78C0DE;
}

.site-hero__text {
  width: 495px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-desc-text);
  margin-top: 30px;
  margin-bottom: 38px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  font-family: var(--font-stack);
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

.site-hero__link {
  padding: 15px 48px;
  background-color: var(--color-text);
}

.site-hero__link:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

.site-hero__link:active {
  background-color: rgba(51, 51, 51, 0.6);
}

.info {
  padding-top: 116px;
  padding-bottom: 190px;
  background-image: url("../img/qoshtirnoq.svg"),
  url("../img/qoshtirnoq2.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 435px) 85px,
  calc(50% + 435px) 160px;
}

.info-content {
  width: 755px;
  margin-left: auto;
  margin-right: auto;
}

.info__text {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-desc-text);
  font-family: var(--font-stack);
}

.info__text::before {
  position: absolute;
  z-index: 1;
  top: -45px;
  left: 300px;
  content: "";
  width: 140px;
  height: 0;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
}

.info__text::after {
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 300px;
  content: "";
  width: 140px;
  height: 0;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
}

.info__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-top: 70px;
}

/* SERVICES SECTION  */

.services {
  padding-bottom: 235px;
}

.services__title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.services-head {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.services__list {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 80px;
  padding-bottom: 17px;
}

.services__list::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "";
  width: 14px;
  height: 25px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
}

.services__item {
  width: 195px;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--color-white);
  margin-right: 13px;
  transition: opacity 0.3s ease;
}

.services-card__title--active {
  padding-bottom: 20px;
}

.services__item:hover {
  opacity: 0.8;
}

.services__item:active {
  opacity: 0.6;
}


.services-card__title:before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 70px;
  margin-bottom: 20px;
  width: 55px;
  height: 76px;
  background-image: url("../img/uslugi1.png");
}

.services-card__title--second::before {
  background-image: url("../img/uslugi2.png");
}

.services-card__title--thirt::before {
  background-image: url("../img/uslugi3.png");
}

.services-card__title--four::before {
  background-image: url("../img/uslugi4.png");
}

.services-card__title--five::before {
  background-image: url("../img/uslugi5.png");
}

.services-card__title--six::before {
  background-image: url("../img/uslugi6.png");
}

.services-card__title--seven::before {
  background-image: url("../img/uslugi7.png");
}

.services-card__title--eight::before {
  background-image: url("../img/uslugi8.png");
}

.services-card__title--nine::before {
  background-image: url("../img/uslugi9.png");
}

.services-card__title--ten::before {
  background-image: url("../img/uslugi10.png");
}

.services__link {
  text-decoration: none;
}

.services-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 30px 32px 35px 28px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.servic__lisr-card {
  display: flex;
  border-radius: 0px 5px 5px 5px;
  background-color: var(--color-white);
  padding: 42px;
}

.servic__info-card {
  width: 492px;
  margin-left: 68px;
  padding-top: 40px;
}

.servic__info__title {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-bottom: 18px;
}

.servic__info__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-desc-text);
  font-family: var(--font-stack);
  margin-bottom: 9px;
}

.servic__link {
  display: inline-block;
  padding: 16px 36px;
  padding-left: 63px;
  background-color: var(--color-bg-link);
  background-image: url("../img/icon-money.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 45px);
  margin-top: 28px;
}

.servic__link-black {
  display: inline-block;
  padding: 15px 37px 15px 64px;
  background-color: var(--color-text);
  background-image: url("../img/icon-document.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 75px);
  margin-left: 20px;
}

/* STAY IN TOUCH SECTION */

.touch {
  position: relative;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 88px;
  background-image: url("../img/v-kurse-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.touch::after {
  position: absolute;
  z-index: 1;
  top: -127px;
  left: 800px;
  content: "";
  width: 613px;
  height: 481px;
  background-image: url("../img/v-kursedigi-it.png");
}

.touch-wrapper {
  margin-left: 180px;
}

.touch__title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: var(--color-white);
  font-family: var(--font-stack);
  margin-bottom: 40px;
}

.form-touch {
  display: flex;
  align-items: center;
}

.input-emil {
  border: none;
  padding: 18px 147px 8px 22px;
  border-radius: 5px;
  border: 3px solid transparent;
}

input:not(:placeholder-shown):not(:focus):invalid {
  border: 3px solid #a30101;
}

input:not(:placeholder-shown):not(:focus):valid {
  border: 3px solid #05ad05;
}

::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-desc-text);
}

.btn-input {
  padding: 15px 52px;
  border: none;
  background-color: var(--color-text);
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.btn-input:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

.btn-input:active {
  background-color: rgba(51, 51, 51, 0.6);;
}


/* USEFUL ARTICLES SECTION  */

.articles {
  padding-top: 150px;
  padding-bottom: 260px;
}

.article__head {
  width: 384px;
  margin: 0;
  font-size: 48px;
  line-height: 20px;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-left: auto;
  margin-right: auto;
}

.articles__wrapper {
  display: flex;
  margin-top: 80px;
}

.article-card {
  width: 305px;
  background-color: #F9F9F9FF;
  border: 1px solid #E4E4E2;
  box-sizing: border-box;
  border-radius: 5px;
}

.article__content {
  padding: 22px 22px 35px 22px;
}

.date-article {
  width: 70px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-desc-text);
  font-family: var(--font-stack);
}

.article__title {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000;
  font-family: var(--font-stack);
  margin-top: 2px;
}

.article__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-desc-text);
  font-family: var(--font-stack);
  margin-top: 10px;
}

.articles__link {
  display: inline-block;
  text-decoration: none;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-top: 38px;
}

.articles__link::before {
  display: block;
  content: "";
  width: 25px;
  height: 22px;
  background-image: url("../img/icon-lapa.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}

/* SECTION MAP AND FORM  */

.form {
  display: flex;
  align-items: center;
  width: 544px;
}

.form__group {
  margin-right: 21px;
}

.input {
  width: 335px;
}

.input__field {
  border: none;
  padding: 16px 22px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-primary-black);
  border: 2px solid var(--main-white-color);
}

.input__field:not(:placeholder-shown):not(:focus):invalid{
  border-color:#FF6347;
}

.input__field:not(:placeholder-shown):not(:focus):valid{
  border-color: #90EE90;

}

.form__button {
  border: none;
}

.contact{
  padding-bottom: 247px;
  background-image: url();
  display: flex;
  align-items: stretch;
  width: 1440px;
  margin-left: auto;
  margin-right:auto;
}

.contact__map{
  width: 462px;
  height: 650px;
}

.contact__map iframe{
  border: none;
}

.contact__box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 145px;
  background-image: url("../img/form-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  width:938px;
  height: 649px;
}


.contact__heading{
  width: 360px;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: var(--color-white);
  font-family: var(--font-stack);
}


.contact__info{
  margin-top: 0;
  margin-bottom: 30px;
  width: 334px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  font-family: var(--font-stack);
}

.contact-form {
  width: 375px;
}

.contact-form__group {
  width: 375px;
}
.contact-form__group:not(:last-child){
  margin-bottom:  14px;
}

.contact-form__input {
  width: 100%;
  padding: 15px 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  border: none;
  color: var(--color-primary-black);
  font-family: var(--font-stack);
}

.contact-form__tx{
  margin-bottom: 20px;
    width: 375px;
}
.contact-form__textarea{
  resize: vertical;
  resize: none;
}

.contact__link{
  display: inline-block;
  padding: 15px 50px;
  border-radius: 0;
  background-color: var(--color-bg-link);
}


/* FOOTER SECTION  */

.site-footer {
  padding-top: 61px;
  padding-bottom: 66px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
}

.footer-img__wrap {
  margin-right: 68px;
}

.footer__list:not(:last-child) {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 87px;
  white-space: nowrap;
}

.footer__item {
  margin-bottom: 14px;
}

.footer__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-text);
  font-family: var(--font-stack);
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--color-bg-link);
}


.days__work:not(:last-child):before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/calendar-bg.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 20px;
}

.days__work {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.footer__address {
  display: flex;
  align-items: flex-start;
  margin-left: 130px;
}

.footer__address::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/home-bg.svg");
  background-repeat: no-repeat;
}

.footer-address-clinic {
  width: 157px;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.footer-address__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 112px;
}

.footer-address__list::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/Phone-bg.svg");
  background-repeat: no-repeat;
}

.footer__item {
  margin-bottom: 4px;
}

.footer-clinic-tel {
   text-decoration: none;
   font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: var(--color-text);
  font-family: var(--font-stack);
  transition: color 0.3s ease;
}

.footer-clinic-tel:hover {
  color: var(--color-bg-link);
}

/* SERVICES  */

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* CARDS PAGE  */

.services {
  padding-top: 50px;
  padding-bottom: 50px;
}


.services-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -30px;
}

.services-tabs__item {
  display: flex;
  flex-direction: column;
  width: 305px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  margin-left: 30px;
  padding: 58px 22px 45px 53px;
  margin-bottom: 32px;
  transition: filter 0.5s ease;
  background-image: url("../img/pet.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 143px 138px;
}

.services-tabs__item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.services-tabs__item:nth-child(even) .services-tabs__link {
  background-color: #78C0DE;
  transition: background-color 0.3s ease;
}

.services-tabs__item:nth-child(even) .services-tabs__link:hover {
  background-color: #333;
}

.services-tabs__item::before {
  display: block;
  content: "";
  width: 86px;
  height: 77px;
  background-image: url("../img/uslugi1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.services-tabs__item--wooman-doctor::before {
  background-image: url("../img/uslugi2.png");
}

.services-tabs__item--dog::before {
  background-image: url("../img/uslugi3.png");
}

.services-tabs__item--dermotology::before {
  background-image: url("../img/uslugi4.png");
}

.services-tabs__item--loborotory::before {
  background-image: url("../img/uslugi5.png");
}

.services-tabs__item--oftolmogy::before {
  background-image: url("../img/uslugi6.png");
}

.services-tabs__item--uzi::before{
  background-image: url("../img/uslugi7.png");
}

.services-tabs__item--injection::before {
  background-image: url(../img/uslugi8.png);
}

.services-tabs__item--passport::before {
  background-image: url("../img/uslugi9.png");
}

.services-tabs__item--vaksiny::before {
  background-image: url("../img/uslugi10.png");
}

.services-tabs__item--stomology::before {
  background-image: url("../img/uslugi2.png");
}


.services-tabs__title {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #333333;
  margin-top: 20px;
}

.services-tabs__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 14px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  padding: 15px 30px;
  border-radius: 3px;
  margin-right: auto;
  margin-top: 26px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

.services-tabs__link {
  background-color: #FFBD54;
}


/* FOOTER  */

.site-footer {
  padding-top: 62px;
  padding-bottom: 70px;
  background-color: #ebebeb;
}

.site-footer__content {
  display: flex;
  align-items: flex-start;
}

.logo-img {
  display: block;
  margin-right: 67px;
}

.site-footer__list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 88px;
}

.site-footer__list-second {
  margin-right: 62px;
}


.site-footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.site-footer__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

/* DAYS  */

.days-clinic {
  margin-right: 110px;
}

.days-clinic__date {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
}

.days-clinic__date:not(:last-child):before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/calendar-bg.svg");
  background-repeat: no-repeat;
  margin-right: 9px;
}

/* ADDRESS  */


.address-clinic__horizontal {
  display: flex;
  margin: 0;
}

.address-clinic__horizontal::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/calendar-bg.svg");
  background-repeat: no-repeat;
}

.address-clinic__text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

/* NUMBERS  */

.clinic-number__box {
  display: flex;
  margin-left: 90px;
}

.clinic-number__box::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/Phone-bg.svg");
  background-repeat: no-repeat;
  margin-right: 9px;
}

.clinic-number__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clinic-number__item:not(:last-child) {
  margin-bottom: 4px;
}

.clinic-number__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
}


/* FAQ PAGE  */

.faq {
  position: relative;
  z-index: 1;
  padding-top: 110px;
  padding-bottom: 270px;
  background-image: url("../img/popugay.png");
  background-repeat: no-repeat;
  background-position: calc(50% - -420px) 970px;
}

.faq::after {
  position: absolute;
  z-index: 1;
  top: 50px;
  right: calc(50% - 850px);
  content: "";
  width: 570px;
  height: 466px;
  background-image: url("../img/faq-cat-bg.png");
  background-repeat: no-repeat;
}

.faq-content {
  margin-left: 110px;
}

.faq__title {
  margin: 0;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.faq__link {
  display: inline-flex;
  align-items: flex-start;
  padding: 15px 40px;
  background-color: #78C0DE;
  border-radius: 3px;
  margin-top: 35px;
  text-align: center;
  white-space: nowrap;
}

.faq__link::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-document.svg");
  background-repeat: no-repeat;
  margin-right: 6px;
}


.faq__text {
  width: 447px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-desc-text);
  font-family: var(--font-stack);
  margin-top: 28px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 65px;
  margin-left: 110px;
  margin-bottom: -18px;
}

.faq__item {
  position: relative;
  z-index: 1;
  width: 752px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  padding: 30px 40px 45px 63px;
  margin-bottom: 18px;
}

.faq__item--opacity {
  opacity: 0.6;
}


.faq-date__and__name {
  display: flex;
}

.faq__date {
  display: flex;
  align-items: flex-start;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.faq__date--gold::before {
  display: block;
  content: "";
  width: 23px;
  height: 21px;
  background-image: url("../img/pet.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 9px;
}

.faq__date--blue::before {
  display: block;
  content: "";
  width: 23px;
  height: 21px;
  background-image: url("../img/pet-blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 9px;
}


.faq__name {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #78C0DE;
  font-family: var(--font-stack);
  margin-left: 28px;
}

.faq__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.faq__queastion {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.faq__btn {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("../img/arrow-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.faq__btn--clock {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("../img/clock.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.faq__btn::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.faq__answer {
  display: none;
  width: 577px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-desc-text);
  font-family: var(--font-stack);
  margin-top: 23px;
}

.qa--active .faq__answer{
  display: block;
}

.qa--active .faq__btn {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("../img/arrow-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* modal  */

.modal {
  position: fixed;
  z-index: 99;
  top: 5%;
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/popup_1.png");
  padding: 130px 70px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-open {
  display: block;
}

.modal-open .modal {
  background-color: rgba(250, 250, 250, 0.6);
}

.modal-content {
  display: flex;
  align-items: flex-start;
}

.close {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

.modal-content__left {
  padding-top: 30px;
  margin-right: 136px;
}

.avtorisition__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-bottom: 20px;
}

.avtorisition__link{
  width: 240px;
  display: inline-block;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-text);
  font-family: var(--font-stack);
  padding: 15px 35px;
  background-color: var(--color-white);
  margin-bottom: 20px;
  text-align: right;
  white-space: nowrap;
}

.avtorisition__link--google::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/google.svg");
  margin-right: 13px;
}

.avtorisition__link--facebook::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/facebook.svg");
  margin-right: 4px;
}

.contact-form--faq {
  width: 335px;
}

.faq-form__group:not(:last-child) {
  width: 335px;
  margin-bottom: 20px;
}

.btn-form__modal {
  border: none;
  padding: 15px 60px;
  background-color: var(--color-text);
  margin-top: 28px;
}

